<ngt-mesh-basic-material #yellow noAppend color="yellow"></ngt-mesh-basic-material>
<ngt-mesh-basic-material #black noAppend color="black"></ngt-mesh-basic-material>

<ngt-group [name]="name" [visible]="visible" [position]="position" [rotation]="rotation" [scale]="scale">
  <flat-ui-menu-mini #menu [menuitems]="menuitems" [selectable]="selectable"></flat-ui-menu-mini>

  <flat-ui-select #select [text]="filtervalue" [position]="[menu.width+0.5, 0, 0]" [selectable]="selectable"
                  (change)="changeFilter($event)" (openinput)="input.openlist($event, select, filterlist, filtervalue)">
  </flat-ui-select>

  <flat-ui-list [position]="[1, -0.65, 0]" [width]="2" [height]="1" [rowcount]="4" [rowsize]="0.2"
                [enablehover]="true" [list]="filtereditems" [selectable]="selectable">

    <ng-template #listItem let-list="list" let-text="text" let-width="width" let-data="data" let-index="index" let-parent="parent">
      <ngt-group *ngIf="data" [appendTo]="parent">
        <flat-ui-material-icon [position]="[-0.9, 0, 0]" [fontsize]="0.1" [labelmaterial]="data.isfolder ? yellow.instance.value : black.instance.value" [text]="data.isfolder ? 'folder' : 'insert_drive_file'"></flat-ui-material-icon>
        <flat-ui-label [position]="[0, 0.05, 0]" [text]="data.name" [width]="1.6"></flat-ui-label>
        <flat-ui-label [position]="[0, -0.05, 0]" text="{{data.lastmodified | amTimeAgo}}" [width]="1.6"></flat-ui-label>
      </ngt-group>
    </ng-template>

  </flat-ui-list>


</ngt-group>
<!--<mat-toolbar>
  <div *ngFor="let item of filtereditems" (click)="open(item)">
    <div fxLayout="row" fxLayoutAlign="start center" class="item">
      <div style="margin:1rem">
        <mat-icon [style.color]="item.isfolder ? 'yellow' : 'gray'">{{ item.isfolder ? 'folder' : 'insert_drive_file'}}</mat-icon>
      </div>
      <div fxFlex fxLayout="column">
        <div><b>{{item.name}}</b></div>
        <div>{{item.lastmodified | amTimeAgo}}</div>
      </div>
      <div fxFlex></div>
      <div style="margin:1rem">
        <button mat-icon-button (click)="renameItem(item);$event.stopPropagation()" matTooltip="Rename">
          <mat-icon>drive_file_rename_outline</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!item.isfolder" [disabled]="item.id!=fileid" (click)="duplicateFile(item.name)" matTooltip="Duplicate File">
          <mat-icon>file_copy</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteItem(item.id);$event.stopPropagation()" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
</div>-->

<flat-ui-list *ngIf="input.showlist" [list]="input.list" [selectedtext]="input.method.text" [rowcount]="9" [height]="1.2"
              [position]="input.position" [rotation]="input.rotation" [scale]="scale" [selectable]="selectable"
              (change)="input.method.text = $event.text;input.showlist=false" (close)="input.showlist=false;input.closeinput()">
</flat-ui-list>
