<div style="height:460px">
  <ngt-canvas webvr [camera]="{ fov: 55, position: [0, 0, 2]}">
    <ngt-color attach="background" color="black"></ngt-color>

    <ngt-point-light [position]="[0, 0, 2]"></ngt-point-light>

    <ng3-file-list *ngIf="browse" [position]="[-1, 1.5, -2]" [filters]="filters" (fileselected)="open($event)" [selectable]="selectable"></ng3-file-list>

    <ngt-soba-orbit-controls [enableRotate]="true"></ngt-soba-orbit-controls>

    <vr-controller guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>
    <vr-controller [index]="1" guipointer showcontroller trackedpointer navhome [guis]="selectable.list"></vr-controller>

  </ngt-canvas>
</div>
