<mat-toolbar>
  <button [disabled]="!folders.length" mat-icon-button (click)="up()" matTooltip="Back">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-icon-button (click)="createFolder()" matTooltip="Create Folder">
    <mat-icon [style.color]="'yellow'">create_new_folder</mat-icon>
  </button>

  <button mat-icon-button (click)="createFile()" matTooltip="Create File">
    <mat-icon>note_add</mat-icon>
  </button>

  <button mat-icon-button [disabled]="!downloadUrl" (click)="updateFile()" matTooltip="Update File">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button (click)="refresh()" matTooltip="Refresh">
    <mat-icon>refresh</mat-icon>
  </button>

  <mat-select style="margin-left:1rem;width:250px" [value]="''" (selectionChange)="changeFilter($event.value)">
    <mat-option *ngFor="let item of filters" [value]="item.filter">{{ displayfilter(item) }}</mat-option>
  </mat-select>
</mat-toolbar>

<div style="display:block;overflow:auto;height:400px">
  <div *ngFor="let item of filtereditems" (click)="open(item)">
    <div fxLayout="row" fxLayoutAlign="start center" class="item">
      <div style="margin:1rem">
        <mat-icon [style.color]="item.isfolder ? 'yellow' : 'gray'">{{ item.isfolder ? 'folder' : 'insert_drive_file'}}</mat-icon>
      </div>
      <div fxFlex fxLayout="column">
        <div><b>{{item.name}}</b></div>
        <div>{{item.lastmodified | amTimeAgo}}</div>
      </div>
      <div fxFlex></div>
      <div style="margin:1rem">
        <button mat-icon-button (click)="renameItem(item);$event.stopPropagation()" matTooltip="Rename">
          <mat-icon>drive_file_rename_outline</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!item.isfolder" [disabled]="item.id!=fileid" (click)="duplicateFile(item.name)" matTooltip="Duplicate File">
          <mat-icon>file_copy</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteItem(item.id);$event.stopPropagation()" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
